* {
    margin: 0;
    padding: 0;
}

header {
     background: #004A70;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}


.full img {
    width: 100%;
    height:auto;
    
}
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;

}

.second img {
    width: 300px;
    height: 300px;
}

.miss {
    display: none;
}

.info {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

footer {
    background: #004A70;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

@media (min-width: 768px) {

    .second {
        flex-direction: row;
        justify-content: center;
    }

    .second img {
    width: 180px;
    height: 180px;
    }
    .medium {
        width: 180px;
        height: 260px;
    }
    .miss
    {
        display: flex;
        width: 180px;
        height: 180px;
        background: red;
        color: white;
        
        padding-left: 20px;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }
}